// Define variables for your color scheme

// For example:
$red: #E34D4E;
$blue: #4275B8; 
$light-blue: #c0c7d3;

$yellow: #FBFC00;
$orange: #E67E22;
$green: #7BBC43;
$light-green: #d1e5b6;
$lighter-green: #f0ffe2;
$gray: #9ea4af;
$light-gray: #e2e2e2;
$dark-gray: #545454;
$purple: #C65195; 


// RFB COMPONENTES COLORS
$color-a-rfb: #00205B;
$color-a2-rfb: #7F8FAD; 
$color-a4-rfb: #BFC7D6;

$color-b-rfb: #64A70B;
$color-b2-rfb: #A2CA6D;
$color-b4-rfb: #D1E5B6;

$color-c-rfb: #330080;
$color-c2-rfb: #997FC0;
$color-c4-rfb: #CDBFE0;

$color-d-rfb: #A66C00;
$color-d2-rfb: #D3B67F;
$color-d4-rfb: #E9DBC0;

$color-e-rfb: #003399;
$color-e2-rfb: #7F9DD3;
$color-e4-rfb: #C0CEE9;

$color-f-rfb: #F2E9D8;
$color-g-rfb: #A8001F;

$color-grey-rfb: rgb(84, 84, 84);
$color-lightgrey-rfb: rgba(233, 236, 239,0.3); //rgba(84, 84, 84, 0.1);

