/views/shared/_components
<br><br>
<div class="btn-rfb">
</div>

<!-- Flash Alerts - User in the controller -->
    <% flash[:info] = "Any message to informe something" %>
    <% flash[:success] = "Any message of success" %>
    <% flash[:notice] = "Any massage of warning" %>
    <% flash[:alert] = "Any error message" %>
 


<!-- Buttons -->
<a href="#" class="btn-text-filled-blue">Incluir</a>
<a href="#" class="btn-text-filled-lightblue">Incluir</a>
<a href="#" class="btn-text-not-filled-blue">Incluir</a>


<!-- Display group-->
<div class="display-group-square-rfb">
  <h3>Detalhes da Necessidade</h3>
  <div>
    <div class="row my-1">
      <div class="col-1 ">
        <label>Título:</label>
      </div>
      <div class="col-lg-8">
        <p> necessidade de serviço</p>
      </div>
      <div class="col-lg-3 px-2 reduce-ml-on-shrink" style="min-width: 232px; max-width: 232px; margin-left: 35px;">
        <label>Status:</label>
        <p> aberta </p>
      </div>

    </div>

    <div class="row my-1">
      <div class="col-lg-1">
        <label>Endereço:</label>
      </div>
      <div class="col-lg-7">
        <p>João Pessoa/PB</p>
      </div>
      <div class="col-lg-4 px-2 reduce-ml-on-shrink" style="margin-left: 31px; max-width: 326px; min-width: 326px;">
        <label>Prazo Propostas: </label>
        <p>09/24/2020, 09h54</p>
      </div>

    </div>

    <div class="row my-1">
      <div class="col-lg-12">
        <label>Descrição : </label>
        <textarea class="form-control" rows="3" disabled>descrição da necessidade do serviço</textarea>
      </div>
    </div>

    <div class="row my-1">
      <div class="col-lg-12">
        <label>Despacho : </label><textarea class="form-control" rows="3" disabled>despacho decisório sobre a seleção</textarea>
      </div>
    </div>

    <div class="row mt-2">
        <div class="col-lg-12 text-right">
            <a href="#" class="btn-text-blue-rfb ml-0"> Inativar necessidade</a>
        </div>
      </div>
  </div>
</div>
