<footer class = "footer d-flex align-items-center justify-content-center">
    <div class="btn-float-plus">
        <%= link_to new_movie_path do %>  
            <i class="fa-solid fa-plus"></i>
        <% end%>
    </div>
</footer>