<div class="display-group-square-rfb mb-5">
  <%= render 'shared/components' %> 
</div>

<div class="basic-card">
    <img width="136" height="184" src="https://www.turismosantos.com.br/static/files_turismosantos/styles/lateral/public/poderoso%20chefao.jpg?itok=3iR2WNLy">
    <span class="card_title p-1">
        <%="#{movie.title}"%>
    </span>
</div>

<div class="btn-float-plus">
  <i class="fa-solid fa-plus"></i>
</div>