<div id="banner">
  <div id="banner-content">
    <h1>Collections</h1>
    <p class="mb-1">Controle seu acervo de vídeos e livros!</p>
    <p class="mb-4">Controle o seu acervo emprestado a amigos!</p>

    <p class="mb-4">Cadastre-se, procure seleções em aberto em envie suas proposta!</p>

    <p><em><strong>Simples. Rápido. Transparente.</strong></em></p>
    <button class="btn-text-blue-rfb">
      <%= link_to 'Cadastre-se', new_user_registration_path, style: 'width: 138px;'%>
    </button>
  </div>
</div>