.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // margin-bottom: 20px;
}

// Foi removido o margin bottom da nav e colocado margin top no container
.container-margin-top {
  margin-top: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
